doctype 5
html(ng-app)
  head
    meta(charset='utf-8')
    title #{title}
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/bootstrap-responsive.css', rel='stylesheet')


    style
        body {
          padding-bottom: 10px;
          color: #5a5a5a;
        }
        footer {
          padding-top: 20px;
        }
        .navbar-wrapper {
          position: relative;
          z-index: 10;
          margin-top: 20px;
          margin-bottom: -90px;
        }
        .navbar .navbar-inner {
          border: 0;
          -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
        }
        .navbar .brand {
          padding: 14px 20px 16px;
          font-size: 16px;
          font-weight: bold;
          text-shadow: 0 -1px 0 rgba(0,0,0,.5);
        }
        .navbar .nav > li > a {
          padding: 15px 20px;
        }
        .navbar .btn-navbar {
          margin-top: 10px;
        }
        
        @media (max-width: 979px) {
          .container.navbar-wrapper {
          margin-bottom: 0;
          width: auto;
        }
        .navbar-inner {
          border-radius: 0;
          margin: -20px 0;
        }
        }
        @media (max-width: 767px) {
          .navbar-inner {
            margin: -20px;
          }
        }
    block contentHead

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

  body(ng-controller="#{ctrl}")
    #fb-root
    .container.navbar-wrapper
      .navbar.navbar-inverse
        .navbar-inner
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') 雲端柳丁
          a.brand(href='#') 前往雲端農場
          .nav-collapse.collapse
            //- ul.nav
            //-   li
            //-     a(href='about') 關於我們
            //-   li
            //-     a(href='#') 新聞報導
            //-   li
            //-     a(href='#') 意見回饋


    block contentBody

    .container.marketing
      footer
        p.pull-right
          a(href='#') 回到頁首
          //- span -
          //- a(href='#') 意見回饋
          br
          a.twitter-share-button(
            href='https://twitter.com/share', 
            data-url='http://agricloud.jit.su/', 
            data-text='雲端農場，歡迎參觀', 
            data-lang='zh-tw') 推文

        p
          | © 2012 ACloud, Inc.
          br
          a.fb-like(
            data-href='http://agricloud.jit.su/', 
            data-send='false', 
            data-layout='button_count', 
            data-width='450', 
            data-show-faces='false')


    script
      !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0];
        if(!d.getElementById(id)){
          js=d.createElement(s);
          js.id=id;
          js.src="//platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js,fjs);
        }
      }(document,"script","twitter-wjs");
    script
      !function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); 
        js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=144361232326542";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk');

    script(type='text/javascript', src='js/jquery-1.8.2.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/angular.min.js')