doctype 5
html(ng-app)
  head
    meta(charset='utf-8')
    title #{title}
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/bootstrap-responsive.css', rel='stylesheet')
    link(href='css/gen/layout.css', rel='stylesheet')



    block contentHead

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

  body(ng-controller="#{ctrl}")
    #fb-root
    .container.navbar-wrapper
      .navbar.navbar-inverse
        .navbar-inner
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') 雲端柳丁
          a.brand(href='#') 前往雲端農場
          .nav-collapse.collapse
            //- ul.nav
            //-   li
            //-     a(href='about') 關於我們
            //-   li
            //-     a(href='#') 新聞報導
            //-   li
            //-     a(href='#') 意見回饋


    block contentBody

    .container.marketing
      footer
        p.pull-right
          a(href='#') 回到頁首
          //- span -
          //- a(href='#') 意見回饋
          br
          a.twitter-share-button(
            href='https://twitter.com/share', 
            data-url='http://agricloud.jit.su/', 
            data-text='雲端農場，歡迎參觀', 
            data-lang='zh-tw') 推文

        p
          | © 2012 ACloud, Inc.
          br
          a.fb-like-box(data-href='https://www.facebook.com/AgriCloud', data-width='292', data-show-faces='false', data-stream='false', data-header='false')



    script
      !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0];
        if(!d.getElementById(id)){
          js=d.createElement(s);
          js.id=id;
          js.src="//platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js,fjs);
        }
      }(document,"script","twitter-wjs");
    script
      !function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); 
        js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=144361232326542";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk');

    script(type='text/javascript', src='js/jquery-1.8.2.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/angular.min.js')